PORT=3000
DATABASE=""
DATABASE_PASSWORD=""

JWT_SECRET=i love to code
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90


EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=25


EMAIL_FROM=

SENDGRID_USERNAME=
SENDGRID_PASSWORD=